<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title>Document</title> --}}
    <link rel="stylesheet" href="css/map.css">
</head>

<body>
    <h2 class="modal-title">JSON TO EXCEL</h2>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-body">
                        <textarea name="json" id="jsonExcel" cols="30" rows="10">{{para}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary">Save changes</button>
    <script src="Javascript/map.js"></script>
</body>

</html>